doctype html
html(lang='eng')
  head
    title Timestamp Microservice
  body
    h1 Timestamp Microservice
    p Please append a natural language date or a UNIX timestamp to the URL. The timestamp microservice will return both the UNIX timestamp and natural language date equivalents.  
    h2 Example usage below:
    p localhost:7777/639273600
    p localhost:7777/april%205%201990

