doctype html
html(lang='eng')
  head
    title Timestamp Microservice
  body
    h1 Timestamp Microservice
    p Please append a natural language date or a UNIX timestamp to the URL. The timestamp microservice will return both the UNIX timestamp and natural language date equivalents.  
    h2 Example usage below:
    p https://timestamp-microservice-dsoucie.c9users.io/639273600
    p https://timestamp-microservice-dsoucie.c9users.io/april%205%201990

